<h4>Categorias: </h4>
<hr>
{{#each categorias}}
    <div class="list-group mt-3">
        <a class="list-group-item list-group-item-action" href="/categorias/{{slug}}"><h5>{{nome}}</h5></a>  
    </div>
    
{{else}}
<H1>NEJHOAIFÁ</H1>
<h1>jdidduidd</h1>
{{/each}}