<div class="card text-center">
  <div class="card-header">
    <h1>{{postagem.nome}}</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{postagem.titulo}}</h5>
    <p class="card-text">{{postagem.conteudo}}</p>
    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
  </div>
  <div class="card-footer text-muted">
    Data: {{postagem.date}}
  </div>
</div>